*{
    box-sizing: border-box;
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.jogo{
    display: flex;
    justify-content: space-between;
    margin: 35px;

}
.jogo button{
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 25px;

    
}

img{
    width: 400px;
    height: 465px;
}

.botoes-letras{
    width: 664px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.botoes-letras button{
    width: 40px;
    height: 40px;
    margin: 5px 5px ;
}
.botao-desabled{
    background-color: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    color: #798A9F;
}